@import "../../../styles.scss";

.overview-page {
  padding: 20px;
  min-height: calc(100vh - 354px);
  .description {
    font-weight: normal;
  }
  .mat-divider {
    position: initial;
  }
  .mat-expansion-panel-header-title {
    max-width: 80px;
  }
  .mat-expansion-indicator::after {
    color: $color-secondary;
  }
}

@media screen and (min-width: 600px) {
  .overview-page {
    .mat-expansion-panel-header-title {
      max-width: 100px;
    }
  }
}

@media screen and (min-width: 960px) {
  .overview-page {
    .mat-expansion-panel-header-title {
      max-width: 180px;
    }
  }
}
