<div class="side-nav" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="side-nav__toolbar">
    <button class="side-nav__toggler" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"><img src="assets/logo.png" class="side-nav__logo" alt="Vetero - Site Logo"/></a>
    <span class="side-nav__spacer"></span>
    <div class="side-nav__menu-container">
      <div *ngFor="let link of navLinks">
        <div *ngIf="link.hasSubmenu; else noSubmenu">
          <button mat-button [matMenuTriggerFor]="subMenu" routerLinkActive="active" class="side-nav__menu-item">
            {{ link.name }}
            <i class="fas fa-caret-down"></i>
          </button>
          <mat-menu #subMenu="matMenu">
            <button *ngFor="let sublink of link.submenu" [routerLink]="sublink.href" mat-menu-item>
              {{ sublink.name }}
            </button>
          </mat-menu>
        </div>
        <ng-template #noSubmenu>
          <button mat-button [routerLink]="link.href" routerLinkActive="active" class="side-nav__menu-item">
            {{ link.name }}
          </button>
        </ng-template>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="side-nav__container" [class.container--extra-margin]="mobileQuery.matches">
    <mat-sidenav #snav mode="over" fixedInViewport="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div *ngFor="let link of navLinks">
          <div *ngIf="link.hasSubmenu; else noSubmenu">
            <a mat-list-item *ngFor="let sublink of link.submenu" routerLink="{{ sublink.href }}" (click)="snav.toggle()">{{ sublink.name }}</a>
          </div>
          <ng-template #noSubmenu>
            <a mat-list-item routerLink="{{ link.href }}" (click)="snav.toggle()">{{ link.name }}</a>
          </ng-template>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row wrap">
      <div fxFlex="100%" fxFlex.gt-xs="600px" fxFlex.gt-sm="960px" fxFlex.gt-md="1280px">
        <ng-content></ng-content>
      </div>
      <app-footer [navLinks]="navLinks"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
