@import "../../../styles.scss";
.side-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.is-mobile {
    .side-nav__toolbar {
      position: fixed;
      z-index: 2;
    }
    .side-nav__container {
      flex: 1 0 auto;
    }
  }
  .side-nav__header-title {
    margin-left: 8px;
  }
  .side-nav__container {
    flex: 1;
    margin-top: 0;
    &.container--extra-margin {
      margin-top: 56px;
    }
  }
  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 32px;
  }
  .mat-sidenav-content {
    justify-content: center;
  }
  .mat-toolbar-single-row {
    height: 64px;
    .side-nav__logo {
      max-height: 36px;
      margin-left: 20px;
    }
    .side-nav__toggler {
      display: block;
    }
    .side-nav__spacer {
      flex: 1 1 auto;
    }
    .side-nav__menu-container {
      display: none;
      .side-nav__menu-item {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        transition: color 0.2s;
        &:hover {
          color: $color-grey-light;
        }
        &:not(:last-of-type) {
          margin-right: 15px;
        }
        &.active {
          color: $color-secondary;
        }
      }
    }
  }
  .footer {
    background-color: $color-secondary;
    width: 100%;
    justify-content: center;
    .footer__container {
      padding: 40px 20px;
      justify-content: space-between;
    }
    .footer__logo {
      max-width: 140px;
    }
    .footer__menu-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .footer__menu-item {
        text-decoration: none;
        color: #000;
        transition: color 0.2s;
        &:hover {
          color: $color-grey-light;
        }
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
        &.active {
          color: $color-primary;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .side-nav {
    .mat-toolbar-single-row {
      .side-nav__toggler {
        display: none;
      }
      .side-nav__menu-container {
        display: block;
      }
    }
  }
}
