<div class="side-nav" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="side-nav__toolbar">
    <button class="side-nav__toggler" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/logo.png" class="side-nav__logo" alt="Vetero - Site Logo" />
    <span class="side-nav__spacer"></span>
    <div class="side-nav__menu-container">
      <a *ngFor="let link of navLinks" routerLink="{{ link.href }}" routerLinkActive="active" class="side-nav__menu-item">{{ link.name }}</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="side-nav__container" [class.container--extra-margin]="mobileQuery.matches">
    <mat-sidenav #snav [mode]="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor="let link of navLinks" mat-list-item routerLink="{{ link.href }}" (click)="snav.toggle()">{{ link.name }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row wrap">
      <div fxFlex="100%" fxFlex.gt-xs="600px" fxFlex.gt-sm="960px" fxFlex.gt-md="1280px">
        <ng-content></ng-content>
      </div>
      <footer class="footer">
        <div fxLayout="row wrap" class="footer__container" fxFlex="100%" fxFlex.gt-xs="600px" fxFlex.gt-sm="960px" fxFlex.gt-md="1280px">
          <div class="footer__left-col">
            <img src="/assets/logo_alt.png" alt="Vetero - Site Logo Alternative" class="footer__logo" />
            <div class="address">
              <h4>Vetero Company Limited.</h4>
              <p>6 Professors' Square</p>
              <p>G3 6BY Glasgow</p>
            </div>
          </div>
          <div class="footer__right-col">
            <div class="footer__menu-container">
              <a *ngFor="let link of navLinks" routerLink="{{ link.href }}" routerLinkActive="active" class="footer__menu-item">{{ link.name }}</a>
            </div>
          </div>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
