<mat-card>
  <mat-card-header>
      <mat-card-title>Earthquake Data Tutorial</mat-card-title>
      <mat-card-subtitle>This page introduces earthquakes, earthquake data fundamentals and where this data can be sourced.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

      <p class="content"> The earthquake page was created to present information about earthquakes for the last hour, all day or all month.
        For each earthquake a card with information is provided. The card contains data about the magnitude, place, time and type of the earthquake.
        To gather all of the data we have used the Earthquake Catalog API. Below we have explained how to use the API.
      </p>
      <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Methods
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
          </mat-expansion-panel>
        
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                Query method Parameters
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
          </mat-expansion-panel>
        
        </mat-accordion>
  </mat-card-content>

</mat-card>

  