<div class="weather">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Weather Map</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="weather__description">
        This page allows to choose location, and receive relevant weather
        information in that area.
      </p>
      <div class="weather__form">
        <mat-form-field>
          <input
            matInput
            placeholder="Search for place"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            type="text"
            class=""
            #search
            [formControl]="searchControl"
          />
        </mat-form-field>
      </div>
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [scrollwheel]="false"
        [zoom]="zoom"
      >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </mat-card-content>
  </mat-card>
</div>
