.weather {
  padding: 20px;
  agm-map {
    height: 400px;
  }
  .weather__form-place {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 0;
    h4 {
      margin: 0;
    }
    & > * {
      width: 100%;
    }
  }
  .weather__form-lat-lng {
    padding: 10px 0 40px 0;
  }
  .weather__container {
    padding: 0 16px;
  }
  .weather__current {
    display: flex;
    flex-direction: column;
  }
}
