<div class="weather">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Weather Map</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              About the Page
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <strong>About: </strong>
            The Weather Page presented relevant weather information, both current and five day forecast to the user. Along with
            the information, a graph of temperature trend for each of the forecasted day is shown. The weather is presented for
            specific location which can be chosen by entering location name or by providing the latitude and longitude of the
            desired location.
          </p>
          <p>
            Finding the place by place name, provides the User with autocompletion, so selecting the desired city or place is much
            easier. An extra option was added for user convinience, which is fetching the location automatically.
          </p>
          <p>
            If the location permission will be granted, the Vetero will fetch the current position of the device, and display it
            on the map, along with relevant weather information.
          </p>
          <p>
            The weather information that can be displayed, includes: air temperature, weather name along with logo, cloudiness,
            atmospheric pressure, humidity, sunrise time, sunset time, rain intensity and snow intensity. Last 2 of these are
            optional parameters, as not every location can have a rain or snow forecasted.
          </p>
          <p>
            <strong>Technologies used:</strong>
            Google Map <a target="_blank" href="https://developers.google.com/maps/documentation/javascript/tutorial">(link)</a>,
            OpenWeatherMap API <a target="_blank" href="https://openweathermap.org/api/weather-map-2">(link)</a>, ngx-charts
            <a target="_blank" href="https://swimlane.github.io/ngx-charts/">(link)</a>
          </p>
          <p>
            <strong>Functionality:</strong>
            At the start the current user location fetch is attempted. If permssion is allowed, then the location is displayed on
            the Google Map. Then current and forecast weather is displayed in appropriate widgets. If no permission is allowed,
            then the default location of Glasgow is being used.
          </p>
          <p>
            After initial load, the User can provide the location he or she is looking for by either entering the place name, or
            providing the latitude and longitude. After selecting any of these, same process applies of fetching the Google Map
            location, along with current and forecasted weather data.
          </p>
          <p>
            The forecasted weather is being displayed as tabs, each corresponding to separate day. Each forecasted day provides
            information equal to the ones from current weather, as well as temperature trend throughout the day.
          </p>
          <p>
            <strong>Result:</strong> User is provided with fresh and relevant information on weather in his current location, or
            the location he is interested in. Additionally, the five day forecast is presented, showing the weather conditions in
            the following days.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="weather__container" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="weather__location" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h3 class="weather__header">Choose Location</h3>
          <div class="weather__form-place">
            <h4>By Place Name</h4>
            <mat-form-field>
              <input
                matInput
                placeholder="Search for place"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="off"
                type="text"
                class=""
                #search
                [formControl]="searchControl"
              />
            </mat-form-field>
          </div>
          <form class="weather__form-lat-lng" (ngSubmit)="searchByLatAndLng(latLngForm)" #latLngForm="ngForm">
            <h4>By Latitude and Longitude</h4>
            <div fxLayout="column">
              <mat-form-field>
                <input
                  name="lat"
                  ngModel
                  matInput
                  placeholder="Type in Latitude"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  type="number"
                  required
                />
                <mat-error *ngIf="latLngForm.form.controls.lat?.invalid"> Latitude is <strong>required</strong> </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  name="lng"
                  ngModel
                  matInput
                  placeholder="Type in Longitude"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  type="number"
                  required
                />
                <mat-error *ngIf="latLngForm.form.controls.lng?.invalid"> Longitude is <strong>required</strong> </mat-error>
              </mat-form-field>
            </div>
            <button
              class="form-lat-lng__submit"
              type="submit"
              [disabled]="!latLngForm.form.valid"
              mat-raised-button
              color="accent"
            >
              Search
            </button>
          </form>
        </div>
        <div class="weather__current" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h3 class="current__header">Current Weather in {{ currentLocationName }}</h3>
          <app-weather-presenter
            fxFlex="1 1 auto"
            *ngIf="(currentWeather$ | async) as currentWeather; else currentWeatherLoadingOrError"
            [currentWeather]="currentWeather"
          ></app-weather-presenter>
          <ng-template #currentWeatherLoadingOrError>
            <div class="loading-or-error">
              <div *ngIf="(currentWeatherLoadingError$ | async); else currentWeatherLoading">
                Couldn't fetch current weather. Plese try with different coordinates.
              </div>
              <ng-template #currentWeatherLoading>
                <mat-spinner></mat-spinner>
              </ng-template>
            </div>
          </ng-template>
        </div>
        <div class="weather__map" fxFlex="0 1 100%">
          <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom" [streetViewControl]="false">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="weather__forecast" fxFlex="0 1 100%" fxLayout="column">
          <h3 class="forecast__header">Five day forecast for {{ currentLocationName }}</h3>
          <app-forecast-presenter
            fxFlex="1 1 auto"
            *ngIf="(forecastWeather$ | async) as forecast; else fiveDayForecastLoadingOrError"
            [forecast]="forecast"
          ></app-forecast-presenter>
          <ng-template #fiveDayForecastLoadingOrError>
            <div class="loading-or-error">
              <div *ngIf="(fiveDayForecastLoadingError$ | async); else fiveDayForecastLoading">
                Couldn't fetch five day forecast. Plese try with different coordinates.
              </div>
              <ng-template #fiveDayForecastLoading>
                <mat-spinner></mat-spinner>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
