<div class="weather">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Weather Map</mat-card-title>
      <mat-card-subtitle
        >This page allows to choose location, and receive relevant weather information in that area. It will also present you the current weather (if
        available) and a 5 day forecast</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="weather__container" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="weather__location" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h3 class="weather__header">Choose Location</h3>
          <div class="weather__form-place">
            <h4>By Place Name</h4>
            <mat-form-field>
              <input
                matInput
                placeholder="Search for place"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="off"
                type="text"
                class=""
                #search
                [formControl]="searchControl"
              />
            </mat-form-field>
          </div>
          <form class="weather__form-lat-lng" (ngSubmit)="searchByLatAndLng(heroForm)" #heroForm="ngForm">
            <h4>By Latitude and Longitude</h4>
            <div fxLayout="column">
              <mat-form-field>
                <input
                  name="lat"
                  ngModel
                  matInput
                  placeholder="Type in Latitude"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  type="number"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  name="lng"
                  ngModel
                  matInput
                  placeholder="Type in Longitude"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  type="number"
                />
              </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="accent">Search</button>
          </form>
        </div>
        <div class="weather__current" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h3 class="current__header">Current Weather in {{ currentLocationName }}</h3>
          <app-weather-presenter
            fxFlex="1 1 auto"
            *ngIf="(currentWeather$ | async) as currentWeather"
            [currentWeather]="currentWeather"
          ></app-weather-presenter>
        </div>
        <div class="weather__map" fxFlex="0 1 100%">
          <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="weather__forecast" fxFlex="0 1 100%" fxLayout="column">
          <h3 class="forecast__header">Five day forecast for {{ currentLocationName }}</h3>
          <app-forecast-presenter fxFlex="1 1 auto" *ngIf="(forecastWeather$ | async) as forecast" [forecast]="forecast"></app-forecast-presenter>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
