.weather {
  padding: 20px;
  agm-map {
    height: 400px;
  }
  .weather__form {
    display: flex;
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
  .weather__container {
    padding: 0 16px;
  }
  .weather__current {
    display: flex;
    flex-direction: column;
  }
}
