<header>
<h1>
Authors</h1> </header>
<div class="text">
    <p>The development of this application has been executed by a group of 6 people. The group members are the following: Bartosz Gajda, Mateusz Hawrot, Liliya Kokalova, Darren Kirkpatrick and Ansar Qureshi.  </p>
    <p>The information below identifies the names of all group members and the work contributed towards the project:</p>
</div>

<div class="clr-row">
    <div class="cclr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Bartosz Gajda</h3>
                <p class="card-text">
                    Responsible for development, testing and deployment. 
                </p>
            </div>
        </div>
    </div>
    <br> 
    <div class="cclr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Hafsah Kamran</h3>
                <p class="card-text">
                    Contributing towards the documentation and part of development of the application.
                </p>
            </div>
        </div>
    </div>
    <br> 
    <div class="cclr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Liliya Kokalova</h3>
                <p class="card-text">
                    Creating use case diagram and descriptions. As well contributing towards the development of the applictaion. 
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="cclr-col-13">
        <div class="card">
            <div class="card-block1">
                <h3 class="card-title">Darren Kirkpatrick</h3>
                <p class="card-text">
                    Creating use case diagram and descriptions. As well contributing towards the development of the applictaion. 
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="cclr-col-13">
        <div class="card">
            <div class="card-block1">
                <h3 class="card-title">Ansar Qureshi</h3>
                <p class="card-text">
                    Creating use case diagram and descriptions. As well contributing towards the development of the applictaion. 
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="cclr-col-13">
        <div class="card">
            <div class="card-block1">
                <h3 class="card-title">Mateusz Hawrot</h3>
                <p class="card-text">
                    Responsible for development, testing and deployment.
                </p>
            </div>
        </div>
    </div>


</div>


