<header>
  <h1>Authors</h1>
</header>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
    <div class="text">
      <p>
        The development of this application has been executed by a group of 6 people. The group members are the following: Bartosz
        Gajda, Mateusz Hawrot, Liliya Kokalova, Darren Kirkpatrick and Ansar Qureshi.
      </p>
      <p>
        The information below identifies the names of all group members and the work contributed towards the project:
      </p>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          <h3>Mateusz Hawrot</h3>
          <p>
            Contributed to the development of the application by creating the Earthquakes page. As well as writing part of the
            documentation for the project.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Hafsah Kamran</h3>
          <p>
            Contributed towards the development of the application by creating the authors page and the javascript techniques page
            and you can find this in the tutorial section. As well as writing part of the documentation.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Liliya Kokalova</h3>
          <p>
            Contributed towards the development of the application by creating 3 tutorial pages. As well as writing part of the
            documentation.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <h3>Bartosz Gajda</h3>
          <p>
            Contributed to the development of the application by creating the Weather Map page and Overview page as well creating
            the overall structure of the application.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
