<div fxLayout="column" fxLayoutGap="30px" class="weather-presenter__container">
  <div fxLayoutAlign="space-evenly center" fxLayout="row wrap" class="weather-presenter__row-first">
    <div class="weather-presenter__temperature">
      <div class="value">{{ currentWeather.main.temp | number: "1.0-0" }}&deg;C</div>
      <div class="name">Temperature</div>
    </div>
    <div class="weather-presenter__weather">
      <div class="icon">
        <img src="{{ this.weatherIconService.getIconPathByWeatherCode(currentWeather.weather[0].id) }}" alt="Weather Icon" />
      </div>
      <div class="name">{{ currentWeather.weather[0].description | titlecase }}</div>
    </div>
  </div>
  <div fxLayoutAlign="space-evenly center" fxLayout="row wrap" class="weather-presenter__row-second">
    <div class="weather-presenter__clouds">
      <div class="value">{{ currentWeather.clouds.all }}%</div>
      <div class="name">Clouds</div>
    </div>
    <div class="weather-presenter__presure">
      <div class="value">{{ currentWeather.main.pressure | number: "1.0-0" | noComma }} hPa</div>
      <div class="name">Pressure</div>
    </div>
    <div class="weather-presenter__humidity">
      <div class="value">{{ currentWeather.main.humidity }}%</div>
      <div class="name">Humidity</div>
    </div>
  </div>
  <div fxLayoutAlign="space-evenly center" fxLayout="row wrap" class="weather-presenter__row-third">
    <div *ngIf="currentWeather.rain">
      <div *ngIf="currentWeather.rain['1h'] || currentWeather.rain['3h']" class="weather-presenter__rain">
        <div class="value">{{ currentWeather.rain["3h"] | number: "1.0-2" }} mm/h</div>
        <div class="name">Rain</div>
      </div>
    </div>
    <div *ngIf="currentWeather.snow">
      <div *ngIf="currentWeather.snow['1h'] || currentWeather.snow['3h']" class="weather-presenter__snow">
        <div class="value">{{ currentWeather.snow["3h"] | number: "1.0-2" }} mm/h</div>
        <div class="name">Snow</div>
      </div>
    </div>
    <div *ngIf="currentWeather.sys.sunrise" class="weather-presenter__sunrise">
      <div class="value">{{ currentWeather.sys.sunrise * 1000 | date: "HH:mm" }}</div>
      <div class="name">Sunrise</div>
    </div>
    <div *ngIf="currentWeather.sys.sunset" class="weather-presenter__sunset">
      <div class="value">{{ currentWeather.sys.sunset * 1000 | date: "HH:mm" }}</div>
      <div class="name">Sunset</div>
    </div>
  </div>
</div>
