/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

$color-primary: rgb(249, 243, 58);
$color-secondary: rgb(36, 225, 222);

$custom-typography: mat-typography-config(
  $font-family: "Lato, monospace"
);
@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
