/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

$color-primary: rgb(249, 243, 58); // #ffea00
$color-secondary: rgb(36, 225, 222); // #1de9b6

$custom-typography: mat-typography-config(
  $font-family: "Lato, monospace"
);
@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core();

$weather-app-primary: mat-palette($mat-yellow, A400, A200, A700);
$weather-app-seccondary: mat-palette($mat-teal, A400, A200, A700);
$weather-app-theme: mat-light-theme($weather-app-primary, $weather-app-seccondary);

@include angular-material-theme($weather-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
