@import "../../../styles.scss";
.mat-expansion-panel{
  background-color: #006064;
  color: #fff;
  width: 50%;
}

.mat-tab {
  width: 50%;
  background-color: #006064;
}


.mat-tab-labels, .mat-tab-label {
  font-weight: 700;
}

p {
  font-size: 12pt;
  width: 50%;
  text-align: justify;
  
}

pre {
  font-size: 12pt;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}