<div class="tut-side-nav">
  <mat-card>
      <mat-card-header>
          <mat-card-title>GeoJSON Tutorial</mat-card-title>
          <mat-card-subtitle>This page introduces GeoJSON.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-tab-group mat-align-tabs="center" >
                <mat-tab label="What is GeoJSON?">
                  
                 <p> GeoJSON is a format used to represent geographic data. A GeoJSON data stucture is a basic JSON object. 
                      An object is made of name-value pairs. 
                      The GeoJSON object must have a 'type' value, which is a string that determines the type of the GeoJSON object. 
                      It could be either geometry, a feature or a collection of features.
                      The GeoJSON also have a 'geometry' value that is a geometry object. Each geometry object has a 'type' and 'coordinates' value. The 'coordinates' value is a decimal number, which represents a dimension, typically the longitude and latitude.  
                      GeoJSON data structure is used as a programatic interface for applications.
                      The syntax of GeoJSON is shown below.          
                  </p>
                      <pre>
                        {{ '{' }}
                        "type": "Feature",
                        "geometry": {{ '{' }}
                          "type": "Point",
                          "coordinates": [longitude, latitude, depth]
                          {{ '}' }},
                        "properties": {{ '{' }}
                          "name": "string"
                         {{ '}' }}
                      {{ '}' }}
                    </pre>
                </mat-tab>

                <mat-tab label="Geometry">
                  
                  <p>              A geometry value describes the type/shape of the GeoJSON object. Every geometry, except for the GeometryCollection, has a 'type' and 'coordinates' value. It could be "Point", "MultiPoint", "Line String", "MultiLineString", "Polygon", "MultiPolygon", "GeometryCollection". 
                    </p>

                    <mat-list>
                        <mat-list-item> "Point" - the "coordinates" value must be a single position </mat-list-item>
                        <mat-list-item> "MultiPoint" - the "coordinates" value must be an array of positions </mat-list-item>
                        <mat-list-item> "Line String" - the "coordinates" value must be an array of two or more positions </mat-list-item>
                        <mat-list-item> "MultiLineString" - the "coordinates" value must be an array of LineString coordinate arrays </mat-list-item>
                        <mat-list-item> "Polygon" - the "coordinates" value must be an array of LinearRing coordinate arrays </mat-list-item>
                        <mat-list-item> "MultiPolygon" - the "coordinates" value must be an array of Polygon coordinate array </mat-list-item>
                        <mat-list-item> "GeometryCollection" - doesn't have a value for coordinate, instead it represents a collection of geometry objects </mat-list-item>
                      </mat-list>


                    

                </mat-tab>
              

              <mat-tab label="Feature">
                  
                  <p>              A feature object also contains a "geometry" value. I t has a "properties" value, that can be any kind of JSON object. The syntax is shown below.</p>
                  <pre>
                      {{ '{' }}
                      "type": "Feature",
                      "geometry": {{ '{' }}
                        "type": "Point",
                        "coordinates": [longitude, latitude, depth]
                        {{ '}' }},
                      "properties": {{ '{' }}
                        "name": "string"
                       {{ '}' }}
                    {{ '}' }}
                  </pre>

                </mat-tab>
              


              <mat-tab label="A collection of features">
                  
                  <p>              A FeatureCollection object has a "type" of "FeatureCollection" and must contain an array of objects of type "feature".</p>
                   
                  <pre>
                      Example:
            
                      {{ '{' }} "type": "FeatureCollection",
                              "features": [
                              {{ '{' }} "type": "Feature",
                                  "geometry": {{ '{' }}"type": "Point", "coordinates": [longitude,
                                  latitude,
                                  depth] {{ '}' }},
                                  "properties": {{ '{' }}"prop0": "value0" {{ '}' }}
                                  {{ '}' }},
                                  {{ '{' }} "type": "Feature",
                                  "geometry": {{ '{' }}
                                    "type": "LineString",
                                    "coordinates": [
                                      [0, 0], [0, 0], [0, 0], [0, 0]
                                      ]
                                      {{ '}' }},
                                  "properties": {{ '{' }}
                                    "prop0": "value0",
                                    "prop1": 0.0
                                    {{ '}' }}
                                    {{ '}' }},
                                
                                ]
                                {{ '}' }}
                  </pre>
                </mat-tab>

                <mat-tab label="References">
                  
                  <p> Resources used and more information about GeoJSON:</p>
                  <mat-list>
                    <mat-list-item> <a href="http://geojson.org/geojson-spec.html">http://geojson.org/geojson-spec.html</a> </mat-list-item>
                    <mat-list-item> <a href="https://macwright.org/2015/03/23/geojson-second-bite.html">https://macwright.org/2015/03/23/geojson-second-bite.html</a> </mat-list-item>
                    <mat-list-item> <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson_detail.php">https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson_detail.ph</a></mat-list-item>
                    <mat-list-item> <a href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">https://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php</a> </mat-list-item>

                  </mat-list>
                   
                  
                </mat-tab>




              </mat-tab-group>






         <!-- <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header class= "matheader">
                What is GeoJSON?
              </mat-expansion-panel-header>
          
              GeoJSON is a format used to represent geographic data. A GeoJSON data stucture is a basic JSON object. 
              An object is made of name-value pairs. 
              The GeoJSON object must have a 'type' value, which is a string that determines the type of the GeoJSON object. 
              It could be either geometry, a feature or a collection of features.
              The GeoJSON also have a 'geometry' value that is a geometry object. Each geometry object has a 'type' and 'coordinates' value.             

              <pre>
                {{ '{' }}
                "type": "Feature",
                "geometry": {{ '{' }}
                  "type": "Point",
                  "coordinates": [125.6, 10.1]
                {{ '}' }},
                "properties": {{ '{' }}
                  "name": "Dinagat Islands"
                {{ '}' }}
              {{ '}' }}
            </pre>
              

            </mat-expansion-panel>
          
          

            
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Geometry
              </mat-expansion-panel-header>
          
              A geometry value describes the type of the GeoJSON object. It could be "Point", "MultiPoint", "Line String", "MultiLineString", "Polygon", "MultiPolygon", "GeometryCollection". Every one of this types except for the GeometryCollection must have a "coordinates" value.
              <ul>
              <li>"Point" - the "coordinates" value must be a single position</li>
              <li>"MultiPoint" - the "coordinates" value must be an array of positions</li>
              <li>"Line String" - the "coordinates" value must be an array of two or more positions</li>
              <li>"MultiLineString" - the "coordinates" value must be an array of LineString coordinate arrays</li>
              <li>"Polygon" - the "coordinates" value must be an array of LinearRing coordinate arrays</li>
              <li>"MultiPolygon" - the "coordinates" value must be an array of Polygon coordinate array</li>
              <li>"GeometryCollection" - doesn't have a value for coordinate, instead it represents a collection of geometry objects</li>
              </ul>

            </mat-expansion-panel>
          
          


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Feature
            </mat-expansion-panel-header>
        
            A feature object also contains a "geometry" value. Also it has a "properties" value.
        
          </mat-expansion-panel>
        
        



        <mat-expansion-panel>
          <mat-expansion-panel-header>
            A collection of features
          </mat-expansion-panel-header>
      
          A FeatureCollection object must contain a "feature" value that is an array of feature objects.
          <pre>
          Example:

          {{ '{' }} "type": "FeatureCollection",
                  "features": [
                  {{ '{' }} "type": "Feature",
                      "geometry": {{ '{' }}"type": "Point", "coordinates": [102.0, 0.5] {{ '}' }},
                      "properties": {{ '{' }}"prop0": "value0" {{ '}' }}
                      {{ '}' }},
                      {{ '{' }} "type": "Feature",
                      "geometry": {{ '{' }}
                        "type": "LineString",
                        "coordinates": [
                          [102.0, 0.0], [103.0, 1.0], [104.0, 0.0], [105.0, 1.0]
                          ]
                          {{ '}' }},
                      "properties": {{ '{' }}
                        "prop0": "value0",
                        "prop1": 0.0
                        {{ '}' }}
                        {{ '}' }},
                    
                    ]
                    {{ '}' }}
      </pre>
        </mat-expansion-panel>
      
      </mat-accordion>
            -->
     


        </mat-card-content>
  </mat-card>
</div>
