<div class="tut-side-nav">
  <mat-card>
    <mat-card-header>
      <mat-card-title>GeoJSON Tutorial</mat-card-title>
      <mat-card-subtitle>This page introduces GeoJSON.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button class="accordion">Section 1</button>
      <div class="panel">
        <p>Lorem ipsum.xsfbsddddddddddddddddddddddddddddddddddddddddddddddddddd..</p>
      </div>

      <button class="accordion">Section 2</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion">Section 3</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="matheader">
          <mat-expansion-panel-header>
            <p>What is GeoJSON?</p>
          </mat-expansion-panel-header>

          This the expansion 1 content
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            This is the expansion 2 title
          </mat-expansion-panel-header>

          This the expansion 2 content
        </mat-expansion-panel>
      </mat-accordion>

      <h3>What is GeoJSON?</h3>
      <p>
        GeoJSON is a format for encoding a variety of geographic data structures. A GeoJSON object may represent a geometry, a feature, or a
        collection of features. GeoJSON supports the following geometry types: Point, LineString, Polygon, MultiPoint, MultiLineString, MultiPolygon,
        and GeometryCollection. Features in GeoJSON contain a geometry object and additional properties, and a feature collection represents a list of
        features.
      </p>
      <p>
        A complete GeoJSON data structure is always an object (in JSON terms). In GeoJSON, an object consists of a collection of name/value pairs –
        also called members. For each member, the name is always a string. Member values are either a string, number, object, array or one of the
        literals: true, false, and null. An array consists of elements where each element is a value as described above.
      </p>
      <p>GeoJSON always consists of a single object. This object represents a geometry, feature, or collection of features.</p>
      <p>
        The GeoJSON object must have a member with the name "type". This member’s value is a string that determines the type of the GeoJSON object.
      </p>
      <h3>Geometry Object</h3>
      <p>
        A geometry is a GeoJSON object where the type member’s value is one of the following strings: "Point", "MultiPoint", "LineString",
        "MultiLineString", "Polygon", "MultiPolygon", or "GeometryCollection".
      </p>
    </mat-card-content>
  </mat-card>
</div>
