.visualization {
  padding: 20px;
  agm-map {
    height: calc(100vh - 300px);
  }
  mat-form-field {
    width: 100%;
  }
  .visualization__form {
    padding: 0 15px 15px 0;
  }
  .visualization__description {
    padding: 0 0 15px 15px;
    p {
      font-size: 16px;
    }
  }
  .mat-expansion-panel-body {
    font-size: 16px;
  }
}
