<div class="visualization">
  <mat-card>
    <mat-card-title>Visualizations</mat-card-title>
    <mat-card-subtitle
      >This page contains 14 different visualizations, displayed on the Google Map in the form of tiles. You can select every of them, using the
      dropdown below, which will plot the appropriate tiles over the map, along with presenting brief information about the current layer displayed.
      All of these different visualizations are displayed in one page only as opposed to four specified to project specification. This is beacuse one
      page requires less resources to display, therefore application is smaller and faster.</mat-card-subtitle
    >
    <mat-card-content fxLayout="column">
      <div fxLayout="row wrap">
        <div class="visualization__form" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h4>Select Map Overlay</h4>
          <mat-form-field>
            <mat-select placeholder="Select Map Overlay" (selectionChange)="handleUserMapLayerSelection($event)" required>
              <mat-option *ngFor="let layer of availableMapLayers" [value]="layer.value" [attr.data-description]="layer.description">{{
                layer.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="visualization__description" fxFlex="0 1 100%" fxFlex.gt-sm="0 1 50%">
          <h4>Layer Displayed</h4>
          <p>{{ layerDescription }}</p>
        </div>
      </div>
      <div fxFlex="0 1 100%">
        <agm-map
          (mapReady)="onMapReady($event)"
          [latitude]="50"
          [longitude]="0"
          [scrollwheel]="false"
          [zoom]="5"
          [styles]="mapStyles"
          [streetViewControl]="false"
        >
        </agm-map>
      </div>
    </mat-card-content>
  </mat-card>
</div>
