<div class="visualization">
  <mat-card>
    <mat-card-title>Visualizations</mat-card-title>
    <mat-card-subtitle
      >This page contains extra visualizations, using the data sources and techniques we have identified as innovative</mat-card-subtitle
    >
    <mat-card-content>
      <h4>Select Map Overlay</h4>
      <mat-form-field>
        <mat-select placeholder="Select Map Overlay" (selectionChange)="handleUserMapLayerSelection($event)" required>
          <mat-option *ngFor="let layer of availableMapLayers" [value]="layer.value">{{ layer.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <agm-map (mapReady)="onMapReady($event)" [latitude]="50" [longitude]="0" [scrollwheel]="false" [zoom]="5" [styles]="mapStyles"> </agm-map>
    </mat-card-content>
  </mat-card>
</div>
