<header>
  <h1>Javascript Techniques</h1> 
  <meta name="viewport" content="width=device-width, initial-scale=1"></header>

  <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="center none" fxLayoutAlign="flex-start">

    <div>
   
        
          <p>Throughout this tutorial page you will recieve information about Javascript Techniques. </p>
          <p>There are different techniques that can be used to process and access data and these techniques are defined below:</p>
       
    
          <mat-tab-group dynamicHeight class=tabs>
            <mat-tab label="Technique 1">
              <div class="example-large-box mat-elevation-z4">
                <h3>Creating an Array</h3> 
                <p>The easiest way to encounter this is by identifying/creating (naming the array) and inserting the values inside the array.</p>
                <h4>Example:</h4>
                <p>let f = ["String1.1", "String1.2", "String1.3"];</p>
              </div>
            </mat-tab>

            <mat-tab label="Technique 2">
              <div class="example-large-box mat-elevation-z4">
                <h3>Easiest way to write an IF Statement</h3>
                <p>A single line if statement. Looking at the example below it declares a ball and depending on the number inserted which is referred to as “x” and checking if it is bigger than 8, then checking if it is true or false. </p>
                <h3>Example:</h3>
                <p>let ball = x > 8 ? true : false;</p>
              </div>
            </mat-tab>

            <mat-tab label="Technique 3">
              <div class="example-large-box mat-elevation-z4">
                <h3>Declaring variables </h3>
                <p>The example below shows a way on declaring multiple variables in the same line.</p>
                <h4>Example:</h4>
                <p>let a, b, c=4;</p>
              </div>
            </mat-tab>

            <mat-tab label="Technique 4">
              <div class="example-large-box mat-elevation-z4">
                <h3>If Presence</h3>
                <p>When checking an if statement or also called “if check”. All you have to do is check the variable is ‘true’. </p>
                <h4>Example:</h4>
                <p>if (x) </p>
                <p>And if it’s not true you could write:  if (!x)</p>
              </div>
            </mat-tab>

            <mat-tab label="Technique 5">
              <div class="example-large-box mat-elevation-z4">

                <h3>A shorthand instead of using charAt()</h3>
                <p>You can consider this as a shortcut to find a string.</p>
                <h4>Example</h4>
                <p>"aString"[0];</p>
              </div>
            </mat-tab>

            <mat-tab label="Technique 6">
                <div class="example-large-box mat-elevation-z4">
  
                  <h3>Coding Style Part 1 - Using Curly Braces</h3>
                  <p>Curly braces should be not be used on a new line but should be inserted after the key word and there should be a space between the keyword and the opening brace.</p>
                  <p>For readable code, there should be seperate lines for each statement.</p>
                 
                </div>
              </mat-tab>

              <mat-tab label="Technique 7">
                  <div class="example-large-box mat-elevation-z4">
    
                    <h3>Coding Style Part 2 - Line length and Indents </h3>
                    <h4>Line Length</h4>
                    <p>It is suggested that the line length should be around 80-120 characters as it gets hard to read long lines of code. </p>
                    <h4>Indents</h4>
                    <p>There are two types of indents. The first indent is a horiontal indent which is used for two or 4 spaces. The second indent is a vertical indent which is used to divide the code into blocks so that the code is easier to read. </p>
                  </div>
                </mat-tab>

                <mat-tab label="Technique 8">
                    <div class="example-large-box mat-elevation-z4">
      
                      <h3>Coding Style Part 3 - Semi Colons & Nesting Levels </h3>
                      <h4>Semi Colons</h4>
                      <p>Semi Colons should be used after each statement </p>
                      <h4>Nesting levels</h4>
                      <p>There are two types of indents. The first indent is a horiontal indent which is used for two or 4 spaces. The second indent is a vertical indent which is used to divide the code into blocks so that the code is easier to read. </p>
                    </div>
                  </mat-tab>

            
          </mat-tab-group>

          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Javascript Syntax</mat-card-title>
                
              </mat-card-header>
              <img mat-card-image src="https://javascript.info/article/coding-style/code-style@2x.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The example above gives a detailed explanation of how to structure the code when writing Javascript.
                </p>
              </mat-card-content>
            </mat-card>
            


    
   
   
    </div>

  </div>