<header>
  <h1>Javascript Techniques</h1> 
  <meta name="viewport" content="width=device-width, initial-scale=1"></header>

  <div class="structure" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">

    <div class="text">
   
        
          <p>Throughout this tutorial page you will recieve information about Javascript Techniques. </p>
          <p>There are different techniques that can be used to process and access data and these techniques are defined below:</p>
        
    

    <div class="column1">
        <div class="card">
          <h2>Technique 1</h2>
          <h3>Creating an Array</h3>
          <p>The easiest way to encounter this is by identifying/creating (naming the array) and inserting the values inside the array.</p>
          <h4>Example:</h4>
          <p>let f = ["String1.1", "String1.2", "String1.3"];</p>
    </div>
  </div>


  <div class="column1">
      <div class="card">
        <h2>Technique 2</h2>
        <h3>Easiest way to write an IF Statement</h3>
        <p>A single line if statement. Looking at the example below it declares a ball and depending on the number inserted which is referred to as “x” and checking if it is bigger than 8, then checking if it is true or false. </p>
        <h4>Example:</h4>
        <p>let ball = x > 8 ? true : false;</p>
    </div>
  </div>

  <div class="column1">
      <div class="card">
        <h2>Technique 3</h2>
        <h3>Declaring variables </h3>
        <p>The example below shows a way on declaring multiple variables in the same line.</p>
        <h4>Example:</h4>
        <p>let a, b, c=4;</p>
    </div>
  </div>
   
  <div class="column1">
      <div class="card">
        <h2>Technique 4</h2>
        <h3>If Presence  </h3>
        <p>When checking an if statement or also called “if check”. All you have to do is check the variable is ‘true’. </p>
        <h4>Example:</h4>
        <p>if (x) </p>
        <p>And if it’s not true you could write:  if (!x)</p>
    </div>
  </div>
   
   
    </div>

  </div>